.container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    gap: 6px;
    color: inherit;
    font-weight: 700;
    padding: 8px 20px;
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    opacity: 0.7;
}