#header {
    position: relative;
    margin: 10px 20px;
    z-index: 999;
}

#header .nav-header li {
    padding: 0 10px;
    cursor: default;
    font-size: 14px;
}

#header .nav-header>li:hover>span {
    opacity: 0.7;
}

#header .nav-header>li {
    position: relative;
}

#header .nav-header>li:hover>.nav-header__dropdown {
    display: flex;
}

#header .nav-header__dropdown {
    display: none;
    position: absolute;
    left: -10px;
    top: 35px;
    min-width: 445px;
    color: #fff;
    background-color: #000;
    padding: 0 20px;
    border-radius: 12px;
}

#header .nav-header__dropdown::after {
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 20px;
    background-color: transparent;
}

#header .nav-header__dropdown::before {
    content: "";
    position: absolute;
    top: -8px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

#header .nav-header__dropdown--left {
    padding: 20px 20px 20px 0;
    min-width: 190px;
    border-right: 1px solid #4e4e4e;
}

#header .nav-header__dropdown--item .icon {
    color: transparent;
    margin-left: 25px;
}

#header .nav-header__dropdown--left li {
    padding: 8px 10px;
    margin-bottom: 10px;
}

#header .nav-header__dropdown--left li.active {
    color: #fff;
    background-color: #2a2a2a;
}

#header .nav-header__dropdown--item.active .icon,
#header .nav-header__dropdown--item:hover .icon {
    color: #fff;
}

#header .nav-header__dropdown--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

#header .nav-header__dropdown--item-v2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #9c9c9c;
}

#header .nav-header__dropdown--item-v2:hover {
    color: #fff;
}

#header .nav-header__dropdown--left .nav-header__dropdown--item {
    color: #9c9c9c;
}

#header .nav-header__dropdown--item:hover {
    color: #fff;
    background-color: #2a2a2a;
}

#header .nav-header__dropdown--right {
    flex: 1;
    padding: 20px 0 20px 20px;
}

#header .nav-header__dropdown--right li {
    padding: 0;
}

#header .nav-header__dropdown--right .list-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}