#home .banner {
    position: absolute;
    top: 0;
    height: 504px;
    width: 100%;
}

#home .banner-image {
    /* Ảnh nền mới cùng chủ đề sáng tạo / thiết kế */
    background-image: url("https://images.pexels.com/photos/2706379/pexels-photo-2706379.jpeg?auto=compress&cs=tinysrgb&w=2880");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#home .banner-image__bg {
    position: absolute;
    top: 0;
    height: 504px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#home .banner-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

#home .banner-slide {
    margin-top: 45px;
    /* height: 212px; */
    background-color: #1f1f1f;
    border-radius: 16px;
    padding: 20px;
}

#home .banner-slide__left {
    width: 10%;
    background-color: #303030;
    padding: 14px;
    border-radius: 8px;
}

#home .banner-slide__right {
    position: relative;
    width: 90%;
    padding-left: 20px;
}

#home .banner-slide__right .swiper-slide {
    height: 172px;
    border-radius: 8px;
    overflow: hidden;
}

#home .banner-slide__right .swiper-slide__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#home .banner-slide__right .swiper-slide__link img {
    transition: scale 0.3s linear;
}

#home .banner-slide__right .swiper-slide__link img:hover {
    scale: 1.1;
}

#home .banner-slide__right .swiper-slide__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 0;
    width: 100%;
    padding: 15px;
    text-align: start;
}

#home .swiper-button-next,
#home .swiper-button-prev {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
}

#home .swiper-button-next {
    right: -12px;
}

#home .swiper-button-prev {
    left: 6px;
}

#home .swiper-button-next::after,
#home .swiper-button-prev::after {
    display: none;
}

#home .home-designers__product--item img~div {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0))
}

#home .home-designers__product--item img:hover~div {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4))
}

/* Hàng 1 */
#home .home-designers__product--item:nth-child(1),
#home .home-designers__product--item:nth-child(2),
#home .home-designers__product--item:nth-child(7),
#home .home-designers__product--item:nth-child(8) {
    grid-column: span 2;
}

#home .home-designers__product--item:nth-child(3),
#home .home-designers__product--item:nth-child(9) {
    grid-column: span 3;
}

/* Hàng 2 */
#home .home-designers__product--item:nth-child(4) {
    grid-column: span 3;
}

#home .home-designers__product--item:nth-child(5),
#home .home-designers__product--item:nth-child(6) {
    grid-column: span 2;
}

#home .home-inspired__item .item-preview~div {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    transition: opacity 0.1s linear;
}

#home .home-inspired__text {
    display: none;
}

#home .home-inspired__item .item-preview:hover~div {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
}

#home .home-inspired__item .item-preview:hover~div .home-inspired__text {
    display: block;
}