
#search .search-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "topbar topbar"
        "filters result";
}

#search .search-layout .filter-header {
    grid-area: topbar;
}

#search .search-layout .filter-detail {
    grid-area: filters;
}

#search .search-layout .filter-result {
    grid-area: result;
}

#search .filter-detail .filter-detail__btn.active ~ .filter-detail__more {
    display: block;
    height: auto;
}

#search .filter-detail .filter-detail__more {
    display: none;
    height: 0;
}

#search .filter-detail .filter-detail__more li.active button {
    color: #fff;
    background-color: #648eef;
}

#search .filter_right .slide__right {
    position: relative;
}

#search .filter_right .swiper-button-next,
#search .filter_right .swiper-button-prev {
    position: absolute;
    background: #fff;
}

#search .filter_right .swiper-wrapper {
    padding-left: 12px;
}

#search .filter_right .swiper-button-next {
    right: -8px;
}

#search .filter_right .swiper-button-prev {
    left: -10px;
}

#search .filter_right .swiper-button-next::after,
#search .filter_right .swiper-button-prev::after {
    font-size: 14px;
    color: #333;
}

#search .filter-result__filter button {
    color: #777;
}

#search .filter-result__filter button:hover {
    border-bottom: 2px solid #777;
}

#search .filter-result__filter button.active {
    color: #121212;
    border-bottom: 2px solid #333;
}

#search .filter-result__sort .dropdown {
    position: absolute;
    right: 0;
    top: 25px;
    min-width: 120px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #e5e5e5
}

/* #search .filter-result__product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} */

#search .filter-result__item .btn-actions {
    opacity: 0;
}

#search .filter-result__item:hover .bg-opacity {
    background: rgba(0, 0, 0, 0.4);
}

#search .filter-result__item:hover .btn-actions {
    opacity: 1;
}

.modal-detail .btn-download .btn {
    height: 38px;
}

.modal-detail .btn-download .btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.modal-detail .btn-download .btn:last-child {
    position: relative;
    margin-left: -2px;
    padding: 8px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal-detail .btn-download .btn:last-child:hover {
    opacity: 1;
}

.modal-detail .btn-download .btn:last-child .dropdown {
    position: absolute;
    right: 0;
    top: 45px;
    color: #424242;
    min-width: 150px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px -7px 42px rgba(0, 0, 0, 0.1);
}

.modal-detail .btn-download .btn:last-child .dropdown::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
}

.modal-detail .btn-download .btn:last-child .dropdown li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    gap: 8px;
    font-weight: 400;
}

.modal-detail .btn-download .btn:last-child .dropdown li:first-child {
    pointer-events: none;
    text-transform: uppercase;
    color: #c8c8c8;
}

.modal-detail .btn-download .btn:last-child .dropdown li:hover {
    background-color: #f5f5f5;
}

.modal-detail .preview:hover .btn-actions {
    opacity: 1;
}

.modal-detail .btn-actions {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.modal-detail .keyword-list .btn-arrow {
    display: none;
}

.modal-detail .keyword-list:hover .btn-arrow {
    display: flex;
}

.modal-detail .btn-download-more .dropdown {
    display: none;
}

.modal-detail .btn-download-more.active .dropdown {
    display: block;
}