
#user-page {
    min-height: calc(100vh - 45px);
}

#user-page .tabs-menu {
    border-bottom: 1px solid #d8d8d8;
}

#user-page .tab-item:hover {
    border-bottom: 1px solid #9c9c9c;
}

#user-page .tab-item.active {
    border-bottom: 1px solid #9c9c9c;
}

#user-page .btn-collection-more .dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    min-width: 200px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #d8d8d8;
}

#user-page .btn-collection-more .dropdown.show {
    display: block; 
}