---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.vue';
import CategoryPage from '../views/Category.vue';
import Footer from '../components/Footer.vue';
---

<Layout>
	<Header client:idle />
	<main>
		<CategoryPage client:idle />
	</main>
	<Footer client:idle />
</Layout>

<style>
	#header {
		color: #424242;
	}
</style>