---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.vue';
import PaymentSuccess from '../../components/PaymentSuccess.vue';
import Footer from '../../components/Footer.vue';
---

<Layout>
	<main>
		<PaymentSuccess client:idle />
	</main>
</Layout>

<style>
	#header {
		color: #424242;
	}
</style>