---
import '../styles/global.css';
import '../styles/common.css';
import '../styles/header.css';
import '../styles/home.css';
import '../styles/search.css';
import '../styles/modal_collection.css';
import '../styles/user.css';
import '../styles/footer.css';
import 'vue3-toastify/dist/index.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Memory Application</title>
	</head>
	<body>
		<slot />
	</body>
</html>
