---
import './src/styles/global.css';
import './src/styles/common.css';
import './src/styles/header.css';
import './src/styles/home.css';
import './src/styles/footer.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Memory Application</title>
	</head>
	<body>
		<slot />
	</body>
</html>
